.graph {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
}

.graph .node {
    cursor: all-scroll;
}

.graph .node circle {
    stroke: #ccc;
    stroke-width: 1.5px;
}
.graph .link {
    stroke: #ccc;
    stroke-opacity: .6;
}
