body{
	padding : 20px;
	background: url(../img/salle_cinema.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#searchText{
	font-weight: 300;
	font-size: 36px;
}

.json{
	color : black;
}

.json .key{
	color: gold;
}

.json .string{
	color: red;
}

.json .number{
	color : green;
}