body{
	padding : 20px;
	background: url(../img/salle_cinema.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/********* Search, Form **********/

#container{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#search{
	width : 80%;
	margin-top: 100px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition: all 1s linear;
}

#search.small{
	margin-top: 0;
	margin-left : 0;
	width : 40%;
	left: 0;
	transform: translateX(0);
}


#searchText{
	color : #bdbdbd;
	font-weight: 300;
	font-size: 60px;
	height : 100px;
	transition: all 1s linear;
}

#search.small #searchText{
	font-weight: 300;
	font-size: 25px;
	height : 40px;
}

#searchOptions{
	background-color: rgba(255,255,255,0.7);
	padding : 10px;
	border-radius: 2px;
}

#searchOptions .radio{
	display: inline-block;
}

.inputNumber{
	display: inline-block;
	width : 200px;
	margin-left : 5px;
	margin-right : 5px;
}

/******** Loader *********/
#loader{
	margin-top : 20px;
}

#bobine{
	margin : auto;
	margin-top: 20px;
	width : 300px;
	height: 300px;
	border-radius: 80%;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

#progressBar, #progressMsg{
	width : 80%;
	margin : auto;
}

#progressMsg{
	color : #bdbdbd;
}

.progress-bar{
	width : 0%;
	transition: all 1s linear;
}

.progress-bar.load{
	width : 100%;
}

/******** Coloration JSON **********/

.json{
	color : black;
}

.json .key{
	color: gold;
}

.json .string{
	color: red;
}

.json .number{
	color : green;
}

/******** Results ********/

#results, #resultPrototype{
	margin-top: 30px;
	height : 500px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 2px;
}
#movieCardPrototype{
	
}